<article class='article-comment'>
  <p>
    <p>Commenter:</p>
    <%= comment.commenter %>
  </p>
  <p>
    <p>Comment:</p>
    <%= comment.body %>
  </p>

  <%= button_to 'Delete Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
</article>

