<%= button_to "New Article", new_article_path,
              method: :get,
              form_class: 'new-article-btn' %>

<ul>
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article %>
  </li>
  <% end %>
</ul>
