<div class='row my-3'>
  <div class="col">
  <%= link_to "New Article", new_article_path, class: 'btn btn-primary' %>
  <%= link_to "Demo", article_demo_action_path(Article.all.first), class: 'btn btn-success' %>
  </div>
</div>

<div class=row>
  <%= render @articles %>
</div>
