<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <div class="container">
    <span class="navbar-brand mb-0 ms-4 h2 text-white">Blog on Rails</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% article_nav_link_class = path == '/' ? 'nav-link active' : 'nav-link' %>
          <%= link_to "Articles", articles_path, class: article_nav_link_class %>
        </li>
        <li class="nav-item">
          <%= link_to "Tags", root_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
